version: '3.8'

services:
  app:
    build: .
    container_name: task_management_api
    ports:
      - "3333:3333"
    environment:
      NODE_ENV: development
      PORT: 3333
    volumes:
      - .:/app
      - /app/node_modules
